body-background {
    background: #82c458;
}
.warpper {
    width: 50%;
    margin:10% auto;
    padding:2% 10%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#number {  /*number input*/
    width: 50%;
    margin: auto;
}